<%- include('header'); -%>

  <body>
    <h1>LIST OF MY TASK</h1>
    <h2>
      <%=myDay%>
    </h2>

    <%- include('form'); -%>

      <h2>Task:</h2>
      <div class="task">
        <% for (let i=0; i<addedItem.length; i++) { %>
          <div class="task-item">
            <input type="checkbox" class="task-checkbox">
            <span>
              <%= addedItem [i] %>
            </span>
          </div>
          <% } %>
      </div>

      <%- include('footer'); -%>